<h1>Esta editando un cliente</h1>

<form action="/client/update/<%= client.id_client %>" method="POST">
	<input type="text" name="documentNumber" value="<%= client.documentNumber %>" /> <br/>
	<input type="text" name="firstName" value="<%= client.firstName %>" /> <br/>
	<input type="text" name="lastName" value="<%= client.lastName %>" /> <br/>
	<input type="text" name="phoneNumber" value="<%= client.phoneNumber %>" /> <br/>
	<input type="text" name="email" value="<%= client.email %>" /> <br/>
	<input type="text" name="address" value="<%= client.address %>" /> <br/>
	<input type="submit" value="Proceed"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>	
</form>