
<div class="container">
<h1>EDITAR CLIENTE</h1>
<div class="divForms">
	

<form action="/client/update/<%= client.id_client %>" method="POST">
	<input type="text" name="cod" value="" hidden />
	<label for="">DIN: </label>
	<input type="text" class="form-control" name="documentNumber" value="<%= client.documentNumber %>" /> <br/>
	<label for="">Nombres: </label>
	<input type="text" class="form-control" name="firstName" value="<%= client.firstName %>" /> <br/>
	<label for="">Apellidos: </label>
	<input type="text" class="form-control" name="lastName" value="<%= client.lastName %>" /> <br/>
	<label for="">Telefono: </label>
	<input type="text" class="form-control" name="phoneNumber" value="<%= client.phoneNumber %>" /> <br/>
	<label for="">E-mail: </label>
	<input type="text" class="form-control" name="email" value="<%= client.email %>" /> <br/>
	<label for="">Dirección: </label>
	<input type="text" class="form-control" name="address" value="<%= client.address %>" /> <br/>
	<label for="">Distrito: </label>
	<select  id="district" class="cambio form-control" name="district" required>
			<option value="<%= client.district %>"> <%= district %> </option>
			<% _.each(distritos, function(distrito){ %>

			<option value="<%= distrito.id_district %>" > 
				<%= distrito.districtName %>
			</option>
			
			<%})%>
    </select><br>
     <label for="">Observaciones: </label>
    <textarea name="observations" class="form-control" rows="10" cols="50" value="<%= client.serviceDescription %>" ></textarea> <br/>
	<input type="submit" class="btn btn-success" value="Guardar"/>	
</form>
</div>
</div>