
<div class="container">
<h1>EDITAR CLIENTE</h1>
<div class="divForms">
	 

	<form action="/client/update/<%= client.id_client %>" enctype="multipart/form-data" method="POST">
		<table>
		<tr>
			<td class="labeltd"><label for="">DIN: </label></td>
			<td><input type="number" class="documentNumber form-control" name="documentNumber" value="<%= client.documentNumber %>" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">Nombres: </label></td>
			<td><input type="text" class="form-control" name="firstName" value="<%= client.firstName %>" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">Apellidos: </label></td>
			<td><input type="text" class="form-control" name="lastName" value="<%= client.lastName %>" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">Telefono: </label></td>
			<td><input type="number" min="0" class="form-control" name="phoneNumber" value="<%= client.phoneNumber %>" /> </td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">E-mail: </label></td>
			<td><input type="text" class="form-control" name="email" value="<%= client.email %>" /></td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">Dirección: </label></td>
			<td><input type="text" class="form-control" name="address" value="<%= client.address %>" /></td>
		</tr>
		<tr>
			<td class="labeltd"><label for="">Distrito: </label></td>
			<td><select  id="district" class="cambio form-control" name="district" required>
					<option value="<%= client.district %>"> <%= district %> </option>
					<% _.each(distritos, function(distrito){ %>

					<option value="<%= distrito.id_district %>" > 
						<%= distrito.districtName %>
					</option>
					
					<%})%>
		    </select></td>
		</tr>
		<tr>
		    <td class="labeltd"><label for="">Observaciones: </label></td>
		    <td><textarea name="observations" class="form-control" rows="10" cols="50" value="<%= client.serviceDescription %>" ></textarea></td>
		</tr>
		</table>
	    <br/>
    	<input type="file" name="avatar" accept="image/*"vv >* 1MB máximo<br><br>
		<input type="submit" class="btn btn-danger" value="Guardar"/>	
	</form>
</div>
</div>


<script>
$(document).ready(OnReady);
function OnReady(){
	$(".documentNumber").focus();

}
</script>