
<div class="container">
<h1>Información Personal de <%= client.firstName %></h1>
<div class="divForms">
	<h3><strong>Nombre:</strong> <%= client.firstName %> <%= client.lastName %></h3>
	<h3><strong>DNI:</strong> <%= client.documentNumber %></h3>
	<p><strong>Teléfono:</strong> <%= client.phoneNumber %> </p> 
	<p><strong>Email:</strong> <%= client.email %> </p>
	<p><strong>Dirección:</strong> <%= client.address %> </p>
	<p><strong>Distrito:</strong> <%= district %> </p>
	<p><strong>question1:</strong> <%= client.question1 %> </p>
	<p><strong>question2:</strong> <%= client.question2%> </p>
	<p><strong>question3:</strong> <%= client.question3 %> </p>
	<p><strong>question4:</strong> <%= client.question4 %> </p>
	<p><strong>question5:</strong> <%= client.question5 %> </p>
	<p><strong>question6:</strong> <%= client.question6 %> </p>
	<p><strong>question7:</strong> <%= client.question7 %> </p>
	<p><strong>Observaciones:</strong> <%= client.observations %></p>

	<a href="/client/edit/<%= client.id_client %>"><strong>Editar</strong></a>	
</div>

<% if (session.User.admin === 'admin') { %>
<h2>Historial Plan de Entrenamiento</h2> 
<table  class="display table table-borderd table-hover" >
		<thead>
		<tr>
			<th>Fecha</th>
			<th>Peso</th>
			<th>Altura</th>
			<th>IMC: </th>
			<th>Rutina</th>
			<th>Dieta</th>
			<th>observaciones</th>
			<th></th>
		</tr>
		</thead>

		<tbody>
		<% _.each(detail, function(dt){ %>
		<tr>
			<td><%= dt.createdAt %></td> 
			<td><%= dt.weight %> Kg.</td>
			<td><%= dt.height %> m.</td>
			<td><%=(dt.weight/Math.pow(dt.height , 2)).toFixed(2) %></td>
			<td><%= dt.workout %></td>
			<td><%= dt.diet %></td>
			<td><%= dt.observations %></td>
			<td>
				<form action="/clientdetail/destroy/?id=<%= dt.id_detail %>" method="POST"/>
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-danger" value="Borrar">	
				</form>
			</td>
		</tr>
		<%})%>
		</tbody>
	</table>
<hr>

<h2>Historial de Compras</h2>

	<table class="display table table-borderd table-hover">
	<thead>
		<tr>
			<td>Nro de Venta</td>
			<td>Vendedor</td>
			<td>Monto</td>
			<td>Fecha</td>
		</tr>
	</thead>
	<% _.each(details, function(detail){ %>
	<tr> 
		<td><%= detail.id_sale %></td>
		<td><%= detail.sellerName %></td>
		<td>S/. <%= detail.fullPrice %></td>
		<td><%= detail.createdAt %></td>
	</tr>
	<%})%>
	</table>

<% } %>
</div> 

<script>
$(document).ready(OnReady);
function OnReady(){
	$('.table').DataTable({
    	"scrollY":        "300px",
        "scrollCollapse": true,
 		"paging":   	  false,
    	"info":     	  false,
    	"language": {
    		"search": 		"Buscar",
    		"lengthMenu": 	"Mostrar _MENU_ campos por página",
    		"zeroRecords": 	"No se encontro - intente con otros datos",
    		"info": 		"",
    		"infoFiltered": "",
    	}
    });
}
</script>




