<div>
	<h2>nombre: <%= client.firstName %> <%= client.lastName %></h2>
	<h3>DNI: <%= client.documentNumber %></h3>
	<p>Teléfono: <%= client.phoneNumber %> </p> 
	<p>Email: <%= client.email %> </p>
	<p>Dirección <%= client.address %> </p>
	<p>id: <%= client.id_client %> </p>

	<a href="/client/edit/<%= client.id_client %>">Edit</a>
</div>