
<div class="container">
<h1>Información Personal de <%= client.firstName %></h1>
<div class="divForms">
	<figure >	
		<img src="<%= sails.config.myconf.urlRoot %>file/avatar/<%= client.id_client %>" class="clientAvatar">
	</figure>
	<h3><strong>Nombre:</strong> <%= client.firstName %> <%= client.lastName %></h3>
	<h3><strong>DNI:</strong> <%= client.documentNumber %></h3>
	<p><strong>Teléfono:</strong> <%= client.phoneNumber %> </p> 
	<p><strong>Email:</strong> <%= client.email %> </p>
	<p><strong>Dirección:</strong> <%= client.address %> </p>
	<p><strong>Distrito:</strong> <%= district %> </p>
	<hr>
	<p><strong>¿Actualmente estas entrenando? </strong> <%= client.question1 %> </p>
	<p><strong>¿Ya lo has tomado antes? ¿Como te fue?  </strong> <%= client.question2%> </p>
	<p><strong>¿Cuánto compraste o promoción adquiriste? </strong> <%= client.question3 %> </p>
	<p><strong>¿Dónde lo compraste? </strong> <%= client.question4 %> </p>
	<p><strong>¿Dónde entrenas? </strong> <%= client.question5 %> </p>
	<p><strong>¿Cómo conociste nuestra tienda? </strong> <%= client.question6 %> </p>
	<p><strong>¿observaciones?  </strong> <%= client.question7 %> </p>
	<p><strong>Observaciones:</strong> <%= client.observations %></p> 

	<a href="/client/edit/<%= client.id_client %>"><strong>Editar</strong></a>	
</div>

<h2>Historial de Compras</h2>

	<table class="display table table-borderd table-hover">
	<thead>
		<tr>
			<td>Nro de Venta</td>
			<td>Vendedor</td>
			<td>Monto</td>
			<td>Fecha</td>
			<td></td>
		</tr>
	</thead>
	<% _.each(details, function(detail){ %>
	<tr> 
		<td><%= detail.id_sale %></td>
		<td><%= detail.sellerName %></td>
		<td>S/. <%= detail.fullPrice %></td>
		<td><%= detail.createdAt %></td>
		<td><a href="/salereport/show/<%= detail.id_sale %>">ver</a></td>
	</tr>
	<%})%>
	</table><br><br>
	<br>
	<br>

</div> 

<script>
$(document).ready(OnReady);
function OnReady(){
	$('.table').DataTable({
    	"scrollY":        "300px",
        "scrollCollapse": true,
 		"paging":   	  false,
    	"info":     	  false,
    	"language": {
    		"search": 		"Buscar",
    		"lengthMenu": 	"Mostrar _MENU_ campos por página",
    		"zeroRecords": 	"No se encontro - intente con otros datos",
    		"info": 		"",
    		"infoFiltered": "",
    	}
    });
}
</script>




