

<div class="container">
<h1>REPORTE DE VENTAS</h1>
<div class="divForms">
    <div id="mensaje" >
        <ul class="alert alert-info">
            <li id="msj"></li>
        </ul>
    </div>
<form >
	<label for="">Desde: </label>
	<input type="date" id="inicio" name="startDate" step="1" min="2015-01-01" max="<%= systemDateFormat %>" value="<%= systemDateFormat %>">
	<label for="">Hasta: </label>
	<input type="date" id="fin" name="startDate" step="1" min="2015-01-01" max="<%= systemDateFormat %>" value="<%= systemDateFormat %>"><br><br>
    
    <label>Vendedor: </label>
    <select class="saler cambio form-control" name="saler" >
        <option value="false"></option>
        <% _.each(users, function(user){ %>
            <option value="<%= user.id_user %>"> 
            <%= user.firstName+' '+user.lastName %>
            </option>
        <%})%>
    </select><br><br>

    <label>Cliente: </label>
    <select class="client cambio form-control" name="saler" >
        <option value="false"></option>
        <% _.each(clients, function(client){ %>
            <option value="<%= client.id_client %>"> 
            <%= client.firstName+' '+client.lastName %>
            </option>
        <%})%>
    </select><br><br>

	<button id="send" class="btn btn-danger"> Filtrar </button> 
</form>

</div>
<br>
<br>
<div class="tableContainer">
<hr>
<table id="advData" class=" table table-borderd table-hover" >
    <thead>
        <tr>
            <th>Nro. de Venta</th>
        	<th>Cliente</th>
            <th>Vendedor</th>
            <th>Fecha y hora</th>
            <th>Monto</th>
            <th></th>
        </tr>
    </thead>

    <tbody></tbody>

    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>TOTAL:</th>
            <th id="total">S/.</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<a download="reporte.xls" href="#" onclick="return ExcellentExport.excel(this, 'advData', 'Sheet Name Here');"><img src="/images/excel.png" height="42" width="42"> Exportar a Excel</a>
</div><br/>
</div>

<script src="/js/saleReport.js"></script>
