

<div class="container">
    <h1>REPORTE DE VENTAS</h1>
    <div class="divForms">
        <div id="mensaje" >
            <ul class="alert alert-info">
                <li id="msj"></li>
            </ul>
        </div>
        <form >
        	<label for="">Desde: </label>
        	<input type="date" id="inicio" name="startDate" step="1" min="2014-01-01" max="<%= systemDateFormat %>" value="<%= systemDateFormat %>">
        	<label for="">Hasta: </label>
        	<input type="date" id="fin" name="startDate" step="1" min="2015-01-01" max="2020-01-01" value="<%= systemDateFormat %>"> <br><br>
            
            <label>Vendedor: </label>
            <select class="saler cambio form-control" name="saler" >
                <option value="false">*Todos los Vendedores</option>
                <% _.each(users, function(user){ %>
                    <option value="<%= user.id_user %>"> 
                    <%= user.firstName+' '+user.lastName %>
                    </option>
                <%})%>
            </select><br><br>

            <label>Cliente: </label>
            <select class="client cambio form-control" name="saler" >
                <option value="false">*Todos los Clientes</option>
                <% _.each(clients, function(client){ %>
                    <option value="<%= client.id_client %>"> 
                    <%= client.firstName+' '+client.lastName %>
                    </option>
                <%})%>
            </select><br><br>
            
            <label for=""><a class="hover" href="/salereport/services/"><strong>Reporte Por Servicios y productos</strong></a></label><br><br>

        	<button id="send" class="btn btn-danger"><img src="/images/lupa.png" class="" height="20" width="20"> Filtrar </button>
            <button id="sendExcel" class="btn btn-success">
            <img src="/images/excel.png" class="" height="20" width="20" /> Exportar como Excel </button>
             <div class="spin" ></div>

        </form>

    </div>
    <br>
    <div class="tableContainer">
        <hr>
        <h4><img src="/images/error.png" height="40" width="40" /><a class="hover" href="/salereport/extorno" > <strong>Ver Extornos</strong></a></h4>
        <table id="advData" class=" table table-borderd table-hover" >
            <thead>
                <tr>
                    <th>Extorno</th>
                    <th>Nro. de Venta</th>
                	<th>Fecha y Hora</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Monto (S/.)</th>
                    <th>Detalle</th>
                </tr>
            </thead>

            <tbody></tbody>

            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>TOTAL:</th>
                    <th id="total" class="endPrice">S/.</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

        
    </div>

</div>

<!-- **********    Form pop up  **********   -->
<div id="dialogo" class="ventana"  title="¿Por que se extorno la venta?" hidden>

    <textarea id="observation" rows="5" cols="55" /></textarea>   
</div>
<!-- ************************************  -->

<script src="/js/saleReport.js"></script>
<style>
    #observation {
        background: gray;
    }
</style>
