<div class="container">

	<div class="divForms">
		
		<h1><strong>Razón social:</strong> <%= ticket.rSocial %></h1>
		<p><strong>Teléfono:</strong> <%= ticket.phoneNumber %> </p> 
		<p><strong>Dirección:</strong> <%= ticket.address %> </p>
		<p><strong>Distrito:</strong> <%= ticket.district %> </p>
		<p><strong>city:</strong> <%= ticket.city%> </p>
		<p><strong>city:</strong> <%= ticket.footer%> </p>
		<a href="/client/edit/<%= ticket.id_ticket %>"><strong>Editar Ticket </strong></a><br><br>
		
			
	</div>
</div>