<h1>Estas editando un usuario</h1>

<form action="/user/update/<%= user.id_user %>" method="POST">

	<input type="text" name="firstName" value="<%= user.firstName %>" /> <br/>
	<input type="text" name="lastName" value="<%= user.lastName %>" /> <br/>
	<input type="text" name="phoneNumber" value="<%= user.phoneNumber %>" /> <br/>
	<input type="text" name="email" value="<%= user.email %>" /> <br/>
	<% if (session.authenticated && session.User.admin) { %>
			<% if (user.admin) { %>
				<input type="hidden" name="admin" value="unchecked">
				<label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
			<% } else { %>
				<label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
			<% } %> 
		<% } %> 
	<input type="submit" value="Editar"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>	
</form>