<div class="container">

	<% if(flash && flash.err) { %>
		<ul class="alert alert-info">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

<h1>EDITAR USUARIO</h1>
<div class="divForms">
<form action="/user/update/<%= user.id_user %>" method="POST">
<table>
<tr>
	<td class="labeltd"><label for="">Nombres: </label></td>
	<td><input type="text" name="firstName" class="form-control" value="<%= user.firstName %>" /></td>
</tr>
<tr>
	<td class="labeltd"><label for="">Apellidos: </label></td>
	<td><input type="text" name="lastName" class="form-control" value="<%= user.lastName %>" /></td>
</tr>
<tr>	
	<td class="labeltd"><label for="">Teléfono: </label></td>
	<td><input type="number" name="phoneNumber" class="form-control" value="<%= user.phoneNumber %>" /></td>
</tr>
<tr>	
	<td class="labeltd"><label for="">E-mail: </label></td>
	<td><input type="text" name="email" class="form-control" value="<%= user.email %>" /></td>
</tr>
<tr>	
	<td class="labeltd"><label>Contraseña</label></td>
	<td><input type="password" name="password" class="form-control" placeholder="ingresar Contraseña" /></td>
</tr>
<tr>	
	<td class="labeltd"><label>Confirmar</label></td>
	<td><input type="password"  placeholder="confirmar Contraseña" name="confirmation" class="form-control"></td>
</tr>
</table>
	<input type="text" name="cod" value="" hidden>
	<input class="btn btn-danger" type="submit" value="Guardar"/>

</form>

<p>Puede cambiar los permisos del usuario sin cambiar los demas datos</p>

<!--<form action="/user/upload/" enctype="multipart/form-data" method="post">
<input multiple="multiple" name="upload" type="file" />
<input type="submit" value="Upload" />
<br><br>
</form>-->

<div>
	<% if (session.authenticated && session.User.admin==='admin') { %>
		<% if (user.admin==='admin') { %>
			<div>
			<input type="radio" name="admin" value="admin" id="admin" checked>
			<label for="admin">Administrador</label> 
			</div>
			<div>
			<input type="radio" name="admin" value="user" id="user">
			<label for="user">Vendedor</label>
			</div>
			<div>
			<input type="radio" name="admin" value="trainer" id="trainer">
			<label for="trainer">Entrenador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="nutritionist" id="nutritionist">
			<label for="trainer">Nutricionista</label>
			</div>
		<% } %>
		<% if (user.admin==='user') { %>
			<div>
			<input type="radio" name="admin" value="admin" id="admin" />
			<label for="admin">Administrador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="user" id="user" checked />
			<label for="user">Vendedor</label>
			</div>
			<div>
			<input type="radio" name="admin" value="trainer" id="trainer">
			<label for="trainer">Entrenador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="nutritionist" id="nutritionist">
			<label for="trainer">Nutricionista</label>
			</div>
		<% } %>
		<% if (user.admin==='trainer') { %>
			<div>
			<input type="radio" name="admin" value="admin" id="admin" />
			<label for="admin">Administrador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="user" id="user"  />
			<label for="user">Vendedor</label>
			</div>
			<div>
			<input type="radio" name="admin" name="fruit" value="trainer" id="trainer" checked />
			<label for="trainer">Entrenador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="nutritionist" id="nutritionist">
			<label for="trainer">Nutricionista</label>
			</div>
		<% } %>
	<% } %> 
</div>
</div>
</div>

 
<script>
	$( "input:radio" ).on("click", function (){
		url = $("form").attr('action');
    	var val = $( "input:checked" ).val();
    	var data = {
    		admin: val,
    		cod: 5
    	}

    	$.ajax({

	    	url: url,
	    	type: "POST",
	    	data: data,
	    	success: function (resp) {
	    		console.log(resp);
	    		alertify.success("Success log message");
	    	},
	    	error: function (jqXHR, estado, error) {
	    		console.log(estado);
	    		console.log(error);
	    	},
	    	complete: function (jqXHR, estado) {
	    		console.log(estado);
	    	}
   	 	});
    	    
    });
</script>