
<div class="container">
<h1>USUARIOS</h1>  <a class="btn btn-success btn-default" href="/user/new/">+ Agregar Usuario</a>
	<table id="dvData" class="display table table-borderd table-hover" >
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>E-mail</th>
			<th>Permisos</th>
			<th></th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>	
		<% _.each(users, function(user){ %>
		<tr data-model="user"> 
			<td><%= user.userId %></td>
			<td><%= user.firstName %></td>
			<td><%= user.lastName %></td>
			<td><%= user.email %></td>

			<% if (user.admin==='admin') { %>
			<td> <img src="/images/admin.png" height="37" width="37"/ ></td>
			<% } %>	
			<% if (user.admin==='nutritionist') { %>
			<td> <img src="/images/doctor.png" height="35" width="35"></td>
			<% } %>
			<% if (user.admin==='trainer') { %>
			<td> <img src="/images/trainer.png" height="35" width="45"></td>
			<% } %>
			<% if (user.admin==='user') { %>
			<td> <img src="/images/pawn.png" height="35" width="35"></td>
			<% } %>	
			<td><a href="/user/show/<%= user.id_user %>">Ver</a><span> / </span>
				<a href="/user/edit/<%= user.id_user %>">Editar</a></td>
			<td>
			<div class="onoffswitch">
			    <input type="checkbox" name="onoffswitch" class="check onoffswitch-checkbox" id="<%= user.id_user %>" <% if (user.state) { %>checked<% } %> >
			    <label class="onoffswitch-label" for="<%= user.id_user %>">
			        <span class="onoffswitch-inner"></span>
			        <span class="onoffswitch-switch"></span>
			    </label>
			</div>
			</td>
		</tr>
		<%})%>
	</tbody>
	</table> <br/>
		<a download="Usuarios ONE Fitness.xls" href="#" onclick="return ExcellentExport.excel(this, 'dvData', 'Sheet Name Here');"><img src="/images/excel.png" height="42" width="42">Exportar a Excel</a>
		<br>
</div>

<script src="/js/userScript.js"></script>



       
