<div class="container">
<% if (service.serviceFlag === 'product') { %>
<h1>DETALLE DEL PRODUCTO</h1>
<% } %>
<% if (service.serviceFlag === 'service') { %>
<h1>DETALLE DEL SERVICIO</h1>
<% } %>
<div class="divForms">
	<h2>Nombre: <%= service.serviceName %></h2>
	<h3>Precio: <%= service.servicePrice %></h3>
	<% if (service.serviceFlag === 'product') { %>
	<h4>Proveedor: <%= service.serviceProvider %></h4>
	<% } %>
	<p>Descripción: <%= service.serviceDescription %> </p> 

	<a href="/service/edit/<%= service.id_service %>">Editar</a>
</div>
</div>