<div class="container">
<h1><strong>Plan de Seguimiento de:</strong>  <%= client.firstName %> <%= client.lastName %></h1>
	<div class="divForms">
	<figure >	
		<img src="<%= sails.config.myconf.urlRoot %>file/avatar/<%= client.id_client %>" class="clientAvatar">
	</figure>
		<h4><strong>Peso: </strong> <%= detail[0].weight %> kg.</h4> 
		<h4><strong>Altura: </strong> <%= detail[0].height %> m.</h4>
		<h4><strong>IMC: </strong> <%= (detail[0].weight/Math.pow(detail[0].height , 2)).toFixed(2) %> <h4>
		<h4><strong>% de Grasa: </strong><%= detail[0].fatPercentage %><h4>
		
		<p><strong>Ultima Fecha: </strong> <%= detail[0].createdAt %> </p>
		<p><strong>Rutina: </strong><a href="<%= sails.config.myconf.urlRoot %>file/workoutFile/<%= client.id_client %>" download="<%= client.firstName %>.xlsx" ><img src="/images/excel.png" height="40" width="40">Descargar Rutina</a> </p>
		<br><br>	
	<button class="addWorkout btn btn-danger">Agregar Rutina</button>
	</div>

<div class="divForms formWorkout" hidden>
<form action="/workout/create/?id_client=<%= client.id_client %>" enctype="multipart/form-data" method="POST" >
	<table>
	<tr>
		<td class="labeltd"><label for="">Observaciones: </label></td>
		<td><textarea name="observations" class="form-control" rows="5" cols="50" placeholder="Ingresar observaciones..."></textarea></td>
	</tr>
	<tr>
		<td class="labeltd"><label for="">Rutina: </label></td>
		<td><input type="file" name="workoutFile" required><br></td>
	</tr>
	</table>	
	<button class="btn btn-danger">Guardar</button>	
</form>
</div>

</div>

<script>

    $(document).ready(OnReady);
      function OnReady(){

        $('.addWorkout').on('click', function() {
        	$('.tableHistory').hide();
        	$('.formWorkout').show();
        	$(this).hide();
        })
      }
        
</script>