<link rel="stylesheet" href="/styles/newSaleStyle.css">

<!-- //////////////////////////// -->
<input type="text" class="preSale" hidden value="<%= flag %>" />
<div id="main" class="container" >
<h1>INGRESO DE VENTA</h1>
<div id="mensaje" >
	<ul class="alert alert-success">
		<li id="msj" >mensaje: </li>
	</ul> 
</div> 
 
<div class="divForms">
	<form name="fo1" class="form-inline" >
	<label >Ingresar DNI:</label>
	<input id="mysearch" type="search" name="dniSeach" class="form-control" value="<%= dni%>" /> 
	<button id="searchBT" class="btn btn-info"/> Buscar</button><br/><br/>
	<div class="form-group"><div class="input-group">
	<div class="input-group-addon">Nombres</div>
	<input type="text" class="clientInfo form-control" name="firstName" placeholder="Nombres" required/><br/>
	</div></div>
	<div class="form-group"><div class="input-group">
	<div class="input-group-addon">Apellidos</div>
	<input type="text" class="clientInfo form-control" name="lastName" placeholder="Apellidos" /> 
	</div></div><br/>
  	<hr>		
	
</form>

<form name="fo2" class="form-inline">
	<div >	
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">Servicio</div>
		<select class="form-control" id="idService" name="service"/>	
			<% _.each(servicios, function(serv){ %>
			<option value="<%= serv.serviceName %>"> 
				<%= serv.serviceName %>
			</option>
			<%})%>
	   	</select>
	</div></div>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">#Cantidad</div>
		<input type="number" id="sCantidad" class="form-control" placeholder="cantidad" />
	</div></div>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">S/.</div>
		<input type="text" name="sPrice" id="sPrice" class="form-control" placeholder="0.00"/>
	</div></div>
		<input type="submit" id="add" class="btn btn-danger" value="+" /><br/>
	</div>
	<br>
	<div id="tableSale">
	<table id="tableSale" class="table table-hover" >
	    <thead>
	        <tr>
	        	<th>borrar</th>
	            <th>Producto</th>
	            <th>Cantidad</th>
	            <th>precio/u</th>
	            <th>Precio total</th>
	        </tr>
	    </thead>
	    <tbody class="tableSale"> </tbody>
	</table>
	</div>

	<hr>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">Total: S/.</div>
		<input class="form-control" id="total" type="text" name="fullPrice" disabled value="0.00">
	</div></div>

<!--   *******   Ticket  ******   -->

<div id="ticket" hidden >
	<style type="text/css">

		.divBody{
			font-size: 0.7em;
			text-align: center;
			font-family: serif;
			text-transform: capitalize;
			text-decoration: none;
		}

		td {
			padding: 0 0.5em;

		}
		th{
			padding: 0 0.5em;
		}

	</style>

	
	<div class="divBody">
		<h4>** ONE FITNESS **</h4>
		<p>R.U.C. 2323578963, TELÉFONO 054-224455</p>
		<p>FECHA: <%= systemDate %></p>
		<p id="tName">NOMBRE: </p>
		<p id="tDni">DIN: </p>
		<p id="ticketNro">TICKET: </p>
		<p> -------------------------------------------------- </p>
		<table id="tableSalePrint" >
		    <thead>
		        <tr>	     
		            <th>Descripción</th>
		            <th>Cant</th>
		            <th>P/u</th>
		            <th>P-Tot</th>
		        </tr>
		    </thead>
		    <tbody class="tableSalePrint"> </tbody>
		</table>
		<p id="tPrice" > Precio total: S/.</p>
		<p> -------------------------------------------------- </p>
		<p>Vendedor: <%= session.User.firstName %> <%= session.User.lastName %></p>
	</div>
</div>	
<!--   *******  Fin del Ticket  ******   -->

    <button id="print" class="saveSale btn btn-danger" disabled > imprimir y Guardar </button>
    <a class="btn btn-danger navbar-btn navbar-right" href="/sale/new">Borrar Todo</a>
	</div>
	</form>
</div>
</div>


<script src="/js/form.js"></script>

 