<div class="container">
	<h1><%= store.storeName %></h1>
	<div class="divForms">
		
		<h3><strong>Numero de Tienda:</strong> <%= store.id_store %></h3>
		<p><strong>Teléfono:</strong> <%= store.phoneNumber %> </p> 
		<p><strong>Dirección:</strong> <%= store.storeAddress %> </p>
		<p><strong>Distrito:</strong> <%= district %> </p>
		<a href="/client/edit/<%= store.id_store %>"><strong>Editar la tienda </strong></a><br><br>
		
			
	</div>
</div>